*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

img,
picture {
    max-width: 100%;
    height: auto;
    display: block;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
     ::before,
     ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}